extends layout
include mixins/mixins_index

block content
    section.main
        .clearfix
            +login_form

            .mdl-spinner.mdl-spinner--single-color.mdl-js-spinner.is-active(ng-show='loading')
                
            #blur.ng-hide(ng-show="editing && !loading")
            
            //- Table for Students for Center and Admin
            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.ng-hide(ng-controller="TableController", ng-show="loggedIn && !isStudent", ng-init="update_students()", ng-table='tableParams', show-filter='true')
                thead
                    tr
                        th.mdl-data-table__cell--non-numeric(ng-show="selectMultiple")
                        th.mdl-data-table__cell--non-numeric PHONE NO.
                        th.mdl-data-table__cell--non-numeric E-MAIL
                        th.mdl-data-table__cell--non-numeric NAME
                        th.mdl-data-table__cell--non-numeric DATE OF BIRTH
                        th.mdl-data-table__cell--non-numeric GENDER
                        th.mdl-data-table__cell--non-numeric PARENT NAME
                        th.mdl-data-table__cell--non-numeric T-SHIRT
                        th.mdl-data-table__cell--non-numeric(ng-show="!selectMultiple") CENTER CODE
                tbody
                tbody(ng-repeat="f in student_list")   
                    tr
                        th(class="mdl-data-table__cell--non-numeric",ng-show="selectMultiple") 
                            input(type="checkbox",ng-model="f.checked",ng-change="selectedOneMultiple(f)")
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.phone}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.email}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.name}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.dateofbirth | date:'dd-MMM-yyyy'}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.gender}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.parentname}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)") {{f.tshirtsize}}
                        td(class="mdl-data-table__cell--non-numeric",ng-click="studentClick(f._id)",ng-show="!selectMultiple") {{f.centercode}}

            //- Student Form
            div(ng-controller="FormController", ng-show='loggedIn && isStudent', style='margin-top:100px;')
                div
                    ncy-breadcrumb
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            form(name='registration', ng-submit='save_student()', ng-show='showStudentStatus')
                                .panel.panel-default(style='margin-top:20px;')
                                    .panel-body(style='height:70vh; overflow-y:scroll; background-color:white;border-radius: 10px;padding: 15px;')
                                       div(ng-if="studentStatus.status == 'open'")
                                            h5#swal2-title.swal2-title(style="color:#0080ff;margin:10px 20px;") Dear {{studentStatus.name}} <br><br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Thankyou for the registration at Aloha. Your current status is <b> Open. </b> <br> <br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Please make payment of <b> Rs.550 (Rs.250 extra if taken T-Shirt) </b> to the School / Center. <br> (Please ignore if already done.) <br><br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Do not forget to come back after <b> 1st October 2018 </b> to print the hall ticket. <br><br>
                                            h6#swal2-title.swal2-title(style="color:black;margin:10px 20px;") Wishing your kid all the best for the exam. <br><br>
                            
            //- Card for center to be updated
            .demo-card-wide.mdl-card.mdl-shadow--2dp(ng-controller="CardController", ng-show="$parent.editing")
                .mdl-card__supporting-text
                    div(style="width:80%;float:left;overflow-y:scroll;max-height:80vh;")
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model='student.programmename', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select Programme')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="text", ng-model='student.centername', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select Center')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme'")
                            input.mdl-textfield__input(type="text", ng-model='student.schoolname', ng-disabled="true", ng-required="true")
                            label.mdl-textfield__label !{t('Select School')}
                        
                        //- .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        //-     input.mdl-textfield__input(type="email", ng-model='student.centercode', ng-disabled="true", ng-required="true")
                        //-     label.mdl-textfield__label !{t('Center Code')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.phone", ng-minlength="10", ng-disabled="true", ng-maxlength="10", ng-required="true")
                            label.mdl-textfield__label !{t('Phone Number')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="email", ng-model="student.email", ng-required="true")
                            label.mdl-textfield__label !{t('Email')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.name", ng-required="true")
                            label.mdl-textfield__label !{t('Name Of Student')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.parentname", ng-required="true")
                            label.mdl-textfield__label !{t('Parent Name')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label.mdl-textfield__label !{t('Gender')}
                            label(style="float:left;width:50%;")
                                input.mdl-textfield__input(type="radio", ng-model="student.gender", ng-required="true", value="Male", style="float:left;width:10%;margin-top: 3px;")
                                | Male
                            label(style="float:left;width:50%;")
                                input.mdl-textfield__input(type="radio", ng-model="student.gender", ng-required="true", value="Female", style="float:left;width:10%;margin-top: 3px;")
                                | Female

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            textarea.mdl-textfield__input(ng-model="student.address", ng-required="true", rows="2")
                            label.mdl-textfield__label !{t('Address')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="date", ng-model="student.dateofbirth", ng-required="true")
                            label.mdl-textfield__label !{t('Date Of Birth')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            label.mdl-textfield__label !{t('Do you want a T-Shirt?')}                                            
                            switch(ng-model="student.tshirtrequired",on="YES",off="NO",class="green")

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.tshirtrequired")
                            select(ng-model='student.tshirtsize', ng-options='x for x in tshirtsizeoptions')
                            label.mdl-textfield__label !{t('T-Shirt Size')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="date", ng-model="student.registrationdate", ng-required="true")
                            label.mdl-textfield__label !{t('Date Of Student Registration at Aloha')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            select(ng-model="student.group", ng-options='x for x in centergroups', ng-change="onGroupChange(student.group, 'Center')")
                            label.mdl-textfield__label !{t('Group')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme'")
                            select(ng-model="student.group", ng-options='x for x in schoolgroups', ng-change="onGroupChange(student.group, 'School')")
                            label.mdl-textfield__label !{t('Group')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.category", ng-disabled="true")
                            label.mdl-textfield__label !{t('Category')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.group == 'MA'")
                            select.mdl-textfield__select(ng-model="student.level", ng-options='x for x in malevels')
                            label.mdl-textfield__label !{t('Level Applying For')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.group == 'TT'")
                            select.mdl-textfield__select(ng-model="student.level", ng-options='x for x in ttlevels')
                            label.mdl-textfield__label !{t('Level Applying For')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="text", ng-model="student.studentcode", ng-change="onCodeChange(student.studentcode)")
                            label.mdl-textfield__label !{t('Student Code')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="text", ng-model="student.presentlevel")
                            label.mdl-textfield__label !{t('Present Running Level')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme'")
                            input.mdl-textfield__input(type="text", ng-model="student.presentweek")
                            label.mdl-textfield__label !{t('Present Running Week')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme'")
                            input.mdl-textfield__input(type="text", ng-model="student.classsection")
                            label.mdl-textfield__label !{t('Class And Section Studying In')}

                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input.mdl-textfield__input(type="text", ng-model="student.lastyearlevel")
                            label.mdl-textfield__label !{t('If Participated Last Year, Which Level?')}

                    div(style="width:20%;float:left;")
                        img(ng-src='{{student.photo}}', style="border:3px solid grey;width: 100%; height: auto;margin-top:50px;")
                        img(ng-src='{{student.birthcertificate}}', style="border:3px solid grey;width: 100%; height: auto;margin-top:10px;")

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_student()")
                        | !{t('SAVE')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="close_card()")
                        i.material-icons close

            //- Card for Payment details to be added
            .demo-card-wide.mdl-card.mdl-shadow--2dp.paymenting(ng-show="paymenting")
                .mdl-card__supporting-text
                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        select(ng-model='payment.paymentmode', ng-options='x for x in paymentmodes', ng-required="true")
                        label.mdl-textfield__label !{t('Select Payment Mode')}

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        select(ng-model='payment.bankname', ng-options='x for x in banknames', ng-required="true")
                        label.mdl-textfield__label !{t('Select Bank')}

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        input.mdl-textfield__input(type="text", ng-model="payment.transactionno", ng-required="true")
                        label.mdl-textfield__label !{t('Transaction Number')}

                    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                        input.mdl-textfield__input(type="date", ng-model="payment.paymentdate", ng-required="true")
                        label.mdl-textfield__label !{t('Payment / Cheque Date')}

                .mdl-card__actions.mdl-card--border
                    a#save-btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect(ng-click="save_payment()")
                        | !{t('SAVE')}

                .mdl-card__menu
                    button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect(ng-click="cancel_payment()")
                        i.material-icons close
