mixin custom_header(t, exit)
    header
        +navbar(t, exit)

mixin navbar(_t, exit)
    .navbar
        .container
            a(href='https://www.alohakarnataka.com')
                img(alt='https://www.alohakarnataka.com', src='/img/logo.png')

            a(ng-show='loggedIn && selectMultiple', ng-click="pay_amount()", href='')
                    | Pay ₹ {{total_amount}}
                
            a(href='#', ng-show='loggedIn && isCenter')
                #add-student(ng-click="make_payment()",ng-show="!selectMultiple")
                    | !{t('Payment to TASK')}
                #add-student(ng-click="make_payment()",ng-show="selectMultiple")
                    | !{t('Cancel')}

            a(ng-click="logout($event)", href='')= exit

mixin custom_footer(about_txt)
    //- footer
    h3.about(ng-show="loggedIn")= about_txt
    footer(ng-show="loggedIn")
        p !{t('layout.footer.text')}

//- login
mixin login_form
    div(ng-controller="LoginController")
        form(name='tandc', ng-show='!termsAgreed && !loggedIn && !showOTPForm && !registrationForm')
            .panel.panel-default(style='margin-top:100px;')
                .panel-body(style='height:70vh; overflow-y:scroll; background-color:white;border-radius: 10px;')
                    div(style='text-align:left;margin-left:30px;')
                        h3 Terms and Conditions
                        hr
                        p(style="font-weight:bold")
                            | ELIGIBILITY
                        | 1. The student should have completed at least 7 weeks in the current level as on 30 th Sep 2018
                        br
                        | 2. The student should be presently studying in ALOHA.
                        br
                        | 3. The student should have paid full tution fee upto current level.
                        br
                        | 4. The student must wear the Aloha T'Shirt for the competition
                        br
                        | 5. Cost for each T Shirt is Rs. 250 /- (Including GST)
                        br
                        | 6. T- Shirt has to be ordered in advance and it will be supplied along with the admit card.
                        p(style="font-weight:bold;padding-top:15px;")
                            | CLASSIFICATION OF GROUPS & LEVELS
                        | Tiny Tots Tiny Tots School Programme
                        br
                        br
                        | A Above 5 years and Less than or equal to 7 years A1 Above 5 years and Less than or equal to 7 years
                        br
                        | B Above 7 years B1 Above 7 years
                        br
                        | MA MA School Programme
                        br
                        | A Above 7 years and Less than or equal to 9 years A1 Above 8 years and Less than or equal to 10 years
                        br
                        | B Above 9 years and Less than or equal to 11 years B1 Above 10 years
                        br
                        | C Above 11 years and Less than or equal to 13 years
                        br
                        | D Above 13 years
                        p
                        | Note: Age as on 30 st Sept 2018 to be taken.
                        br
                        | For e.g In Tiny Tots if a student is exact 7 years or less the student will be in A Group. If the the student is 7 years and one Day old
                        br
                        | the student will be in B Group. Same is in case of other categories.
                        br
                        | Level in which the student is going to participate will be based on the completed Level.
                        br
                        | School Programme
                        br
                        | Year 1 running (TT/MA) Can participate only for Level 1
                        br
                        | Year 2 Running (TT/MA) Can participate for Level 2 or Level 3
                        br
                        | Year 3 Running (TT/MA) Can participate for Level 4 or Level 5
                        br
                        | Year 4 Running (TT/MA) Can participate for Level 6 or Level 7
                        p
                        | Each Group will be given a colour code for admit card, colour code will be given based on the age and Level student is particiapting.
                        br
                        | Details of colour code will be shared with each franchiser via email before 20 th Oct 2018.
                        p
                        | Note: All the student information provided by the franchisee must match the information available with Aloha
                        br
                        | India Corporate Office. If the details provided by the franchise are found to be mismatching the registrations will
                        br
                        | not be accepted and the registration money will be refunded.
                        p(style="font-weight:bold;padding-top:15px;")
                            | NORMS FOR THE COMPETITION
                        p
                        | - Registration fee of Rs. 550 /- should be collected from every participant.
                        br
                        | - All original Registration froms should reach the TASK office on or before 3o th Sept 2018 along with the Registration fee ( DD or Cash, Cheque will not be accepted) Postal delay will not be entertained.
                        br
                        | - Admit card can be printed by respective parents online on or after 20 th Oct 2018.
                        br
                        | - Every centre should ensure that the participant gets the ordered T  Shirt at the time of receiving the admit card.
                        br
                        | - Any appeal (complaints) should be lodged before 31 st Oct 2017 only via email to our email id aloha.karnataka@gmail.com no other mean of communication will be entertained or recognized.
                        br
                        | - The decision of TASK will be final in all matters relating to the event/competition.
                        p(style="padding-top:15px;font-weight:bold;")
                            | RULES AND REGULATIONS FOR PARENTS
                        | 1. The competition will be for 70 sums.
                        br
                        | 2. The time allotted for the competition is 5 minutes.
                        br
                        | 3. The Parent / Guardian should read and understand the rules and regulation governing admission and undertake to be responsible at all times for the good conduct and behaviour of child/children.
                        br
                        | 4. Registration fee or ` 550 /- should be paid to the Franchisee at the time of submission or Registration Form.
                        br
                        | 5. The registrations should be done online only throught our website.
                        br
                        | 6. All the particulars should be filled up correctly. incorrect entry will be rejected.
                        br
                        | 7. Last date for registration is 30 th September 2018.
                        br
                        | 8. Registration will not be accepted even a day later.
                        br
                        | 9. Registration money is non-refundable or non-transferable once registration is accepted.
                        br
                        | 10. The student must observe the Aloha dress code. Students should wear Aloha T- Shirt.
                        br
                        | 11. T-shirt cost is Rs. 250 /- (Including GST)
                        br
                        | 12. T- Shirts has to be ordered in advance, so that participant can wear T-Shirt and attend the event.
                        br
                        | 13. Any appeal (complaints) should be lodged before 20 th Oct 2018 only via email to our email id aloha.karnataka@gmail.com, no other mean of communication will be entertained or recognized. Parents can print the admit card online. If any issues regarding the same, you can call either the respective Franchisor or TASK office, Phone no 8884012849 between 10:30 am &amp; 6:00 pm. However any phone complaint must be followed by an email to aloha.karnataka@gmail.com for action to be taken.
                        br
                        | 14. The student must report 15 minutes before the Registration time mentioned in the Admit card at the venue.
                        br
                        | 15. The student has to bring his/her printed ADMIT CARD, without which participant will not be allowed.
                        br
                        | 16. The Student must carry his/her own Abacus (Plastic or Wooden), Pencil, failing which the same has to be purchased at the venue.
                        br
                        | 17. The student should be medically fit to participate in the competition.
                        br
                        | 18. Parents are not allowed inside the competition area.
                        br
                        | 19. The parent/guardian undertake the absolve TASK, the learning centre and its agent from any claims arising out of injury, loss or damage caused to the child/children during the competition.
                        br
                        | 20. Parents are requested to advise their children to be calm and patient. Please advise them not to rush or hurry at the entry and exit points.
                        br
                        | 21. Parents are requested to fully co-operate with organisers all thorough. In case of difficulty, they can seek assistance from the enquiry counter.
                        br
                        | 22. The prize distribution ceremony will be held soon after the competitions are over at the same venue and all parents are hereby invited to attend the same.
                        br
                        | 23. The decision of TASK will be final in all matters relating to the event.


            div(style='text-align:center;')
                button.btn.btn-success(style='border-radius: 10px; margin:20px; color: #fff; background-color: #00C84F; border-color: #00C84F; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);margin-bottom: .3125rem; font-size: 1rem; padding: 15px; font-weight: bolder; text-decoration: none; text-transform: uppercase; letter-spacing: 0; border: 0; outline: 0; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); will-change: box-shadow,transform;min-width:200px;', ng-click='register()') REGISTER
                button.btn.btn-success(style='border-radius: 10px; margin:20px; color: #fff; background-color: #2bbbad; border-color: #2bbbad; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);margin-bottom: .3125rem; font-size: 1rem; padding: 15px; font-weight: bolder; text-decoration: none; text-transform: uppercase; letter-spacing: 0; border: 0; outline: 0; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); will-change: box-shadow,transform;min-width:200px;', ng-click='checkStatus()') CHECK STATUS
                                
        form.login#login(ng-show="showOTPForm")
            p.title= 'Welcome'
            img(src="/img/logo.png")
            //- loader

            .login-wrapper#login-wrapper
                .info-message(ng-show="!otpSent")
                    h5= 'Please enter your 10 digit mobile number. Keep your phone handy to enter the OTP received on your number.' 
                .info-message(ng-show="otpSent")
                    h5= 'Please enter the OTP we sent on your number.'

                input#username(ng-show="!otpSent", tabindex="1", autocapitalize="off", autocorrect="off", type="number", placeholder="Phone Number", autofocus, , ng-model='username', min-length=10, max-length=10)
                i.fa.fa-phone
                input#number(ng-show="otpSent", tabindex="2", type="password", placeholder="password", ng-model='password')
                i.fa.fa-key

                a(ng-show="otpSent", href="#", ng-click='generateOTP(username)')= 'Resend OTP?' 
                
                .right-a
                    a(ng-show="otpSent", href="#", ng-click='tryDifferentNumber()')= 'Try different Number!' 

                p(ng-show="!otpSent", style="color:red;")
                    | {{msg}}

                button(ng-show="!otpSent", ng-click='generateOTP(username)')
                    //- i.spinner
                    span.state= 'submit'
            
                button(ng-show="otpSent", ng-click='send(username, password)')
                    //- i.spinner
                    span.state= 'submit'

        div(ng-show='registrationForm', style='margin-top:100px;')
            div
                ncy-breadcrumb
                .container
                    .row
                        .col-md-8.col-md-offset-2
                            form(name='registration', ng-submit='save_student()', ng-show='!dataSaved')
                                .panel.panel-default(style='margin-top:20px;')
                                    .panel-body(style='height:70vh; overflow-y:scroll; background-color:white;border-radius: 10px;padding: 15px;')
                                        div

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                                span !{t('Select Programme')}
                                                select.mdc-select__native-control(ng-model='student.programmename', ng-options='x for x in programmeoptions', ng-required="true")
                                                    option(value="" disabled selected)
                                                        | Select Programme
            
                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme' || student.programmename == 'School Programme'")
                                                input.mdl-textfield__input(type="number", ng-model="student.phone", ng-minlength="10", ng-maxlength="10", ng-required="true", ng-change="onPhoneChange(student.phone)")
                                                label.mdl-textfield__label !{t('Phone Number')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme' || student.programmename == 'School Programme'")
                                                input.mdl-textfield__input(type="number", ng-model="otp", ng-minlength="6", ng-maxlength="6", ng-required="true", ng-change="onPwdChange(otp)")
                                                label.mdl-textfield__label !{t('OTP')}

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'Center Programme' && isOTPVerified && !isPhoneDuplicate")
                                                span !{t('Select Center')}
                                                select.mdc-select__native-control(ng-model='student.centername', ng-options='x.name for x in centeroptions', ng-change="onCenterChange(student.centername, 'center')")
                                                    option(value="" disabled selected)
                                                        | Select Center

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="student.programmename == 'School Programme' && isOTPVerified && !isPhoneDuplicate")
                                                span !{t('Select School')}
                                                select.mdc-select__native-control(ng-model='student.schoolname', ng-options='x.name for x in schooloptions', ng-change="onCenterChange(student.schoolname, 'school')")
                                                    option(value="" disabled selected)
                                                        | Select School
                                
                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                input.mdl-textfield__input(type="email", ng-model="student.email", ng-required="true")
                                                label.mdl-textfield__label !{t('Email')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                input.mdl-textfield__input(type="text", ng-model="student.name", ng-required="true")
                                                label.mdl-textfield__label !{t('Name Of Student')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                input.mdl-textfield__input(type="text", ng-model="student.parentname", ng-required="true")
                                                label.mdl-textfield__label !{t('Parent Name')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                span !{t('Date Of Birth')}                                                
                                                input.mdl-textfield__input(type="date", ng-model="student.dateofbirth", ng-required="true")

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                label.mdl-textfield__label !{t('Gender')}
                                                label(style="float:left;width:50%;")
                                                    input.mdl-textfield__input(type="radio", ng-model="student.gender", value="Male", style="float:left;width:10%;margin-top: 3px;")
                                                    | Male
                                                label(style="float:left;width:50%;")
                                                    input.mdl-textfield__input(type="radio", ng-model="student.gender", value="Female", style="float:left;width:10%;margin-top: 3px;")
                                                    | Female

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                textarea.mdl-textfield__input(ng-model="student.address", ng-required="true", rows="2")
                                                label.mdl-textfield__label !{t('Address')}

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                label.mdl-textfield__label !{t('Do you want a T-Shirt?')}                                            
                                                switch(ng-model="student.tshirtrequired",on="YES",off="NO",class="green")

                                            div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate && student.tshirtrequired")
                                                span !{t('T-Shirt Size')}
                                                select.mdc-select__native-control(ng-model='student.tshirtsize', ng-options='x for x in tshirtsizeoptions')
                                                    option(value="" disabled selected)
                                                        | Select T-Shirt Size

                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                span !{t('Upload Student Image')}  
                                                input(type = 'file', file-model = 'myFile', ng-src='{{student.photo}}', accept="image/*")
                                            
                                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                                span !{t('Upload Birth Certificate')}  
                                                input(type = 'file', file-model = 'myFile1', ng-src='{{student.birthcertificate}}', accept="image/*")

                                            <br>
                                            input(type="checkbox",name="termsAccepted",value="termsAccepted", style="width:8%;", ng-click="onTCChange()" ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate")
                                            p(ng-show="(student.programmename == 'Center Programme' || student.programmename == 'School Programme') && isOTPVerified && !isPhoneDuplicate", style="width: 20%;margin-left: 30px;float: left;")
                                                | I accept to the Terms & Conditions. <br>

                                            p(style="text-align:center;color:red;font-weight:bolder;margin:0;padding:0;",ng-show="isPhoneDuplicate")
                                                | Sorry! Phone number already registered.

                                p(style="text-align:center;color:white;font-weight:bolder;margin:0;padding:0;")
                                    {{msg}}

                                div(style='text-align:center;')
                                    button.btn.btn-success(style='border-radius: 10px; margin:20px; color: #fff; background-color: #4caf50; border-color: #4caf50; cursor: pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);margin-bottom: .3125rem; font-size: 1rem; padding: 15px; font-weight: bolder; text-decoration: none; text-transform: uppercase; letter-spacing: 0; border: 0; outline: 0; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); will-change: box-shadow,transform;', type='submit', ng-click='save_student()', ng-disabled="!isOTPVerified || isPhoneDuplicate") Submit

                            div(ng-show='dataSaved')
                                .panel.panel-default(style='margin-top:20px;')
                                    .panel-body(style='height:70vh; overflow-y:scroll; background-color:white;border-radius: 10px;padding: 15px;')
                                        div(ng-show='savingFailed',style="text-align:center;")
                                            .swal2-icon.swal2-error
                                                span.swal2-x-mark
                                                    span.swal2-x-mark-line-left
                                                    span.swal2-x-mark-line-right
                                            h2#swal2-title.swal2-title Oops! Couldnot register!
                                            #swal2-content.swal2-content(style='display: block;')
                                            | Please try again or contact the center office.
                                            .swal2-buttonswrapper(style='display: block;')
                                            button.swal2-confirm.swal2-styled(type='button', style='background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);') OK
                                            button.swal2-cancel.swal2-styled(type='button', style='display: none; background-color: rgb(170, 170, 170);') Cancel
                                        div(ng-show='savingSuccess',style="text-align:center;")
                                            span.checkmark
                                                div.checkmark_circle
                                                div.checkmark_stem
                                                div.checkmark_kick
                                            h2#swal2-title.swal2-title(style="color:#0080ff;") Hurray! You successfully registered!
                                            #swal2-content.swal2-content(style='display: block;')
                                                | Please make payment of <b> Rs.550 (Rs.250 extra if taken T-Shirt) </b> to the School / Center. <br><br><br>
                                                | Do not forget to come back after <b> 1st October 2018 </b> to print the hall ticket.                                                
                                            .swal2-buttonswrapper(style='display: block;')
                                            //- button.swal2-confirm.swal2-styled(type='button', style='background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);') OK
                                            button.swal2-cancel.swal2-styled(type='button', style='display: none; background-color: rgb(170, 170, 170);') Cancel
            